body{
  font-family: 'Mukta', sans-serif;
  color: #ffffff;
  text-align: center;
  font-size: 25px;
  background-color: #ccae5e;
}

header h1{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 64px;
  color: #ffffff;
  background-color: #ccae5e;
  text-align: center;
}

/* https://www.bitdegree.org/learn/css-list-style */
ul{
  list-style-type: none;
}

#hulled{
  margin: 15 15 0 15px;
}

#hulled_label{
  text-align: inherit;
  font-size: 16px;
}

.intro{
  border: 1px solid #000000;
  text-align: center;
  padding: 20px;
}

ul.step2{
  text-align: inherit;
}

.image{
  margin: 15px;
  padding: 10px;
  border: 3px solid #ffffff;
  align: center;
  height: 500px;
}

.jumbotron{
  display: flex;
}
