body{
  font-family: 'Mukta', sans-serif;
  color: AntiqueWhite;
}

h1{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 32px;
  color: #ffffff;
  background-color: #ccae5e;

}

.intro{

}

.main{

}
